{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "globals": {
    "document": false,
    "navigator": false,
    "window": false
  },
  "extends": "eslint:recommended",
  "rules": {
    "indent": ["warn", 2],
    "no-console": "off",
    "no-undef": "warn",
    "no-unused-vars": "off"
  }
}