.DS_Store
.env
*.lock
npm-debug.log
Thumbs.db

# NOTE: folders that are actually symlinks should be added to .gitignore without a trailing forward slash '/', otherwise Git will not not ignore
node_modules
vendor/
public/